.servs{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 90%;
    height: 100%;
    grid-gap: 10px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;

    
}
.item{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 80%;
    height: 100%;
    gap: 20px;
    
   
}
.item img{
    width: 80%;
    height: 100%;
    margin: 0;
    border-radius: 40px;
    box-shadow: -5px 5px 40px rgba(70, 70, 70, 0.5);
}
.item h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(250, 248, 248);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    margin: 0;
}
.item p{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(250, 248, 248);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
}
h2{
    font-size:3rem;
    font-weight: bold;
    text-align: center;
    color: rgb(250, 248, 248);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    margin: 200px 0;
}
.text-2{
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 100px;
}
.text-2:hover{
    text-decoration: underline;
    color: rgb(107, 3, 3);
}

@media screen and (max-width: 1280px){
    .servs{
        grid-template-columns:repeat(1, 1fr);
        margin-top: 0;
    }
    .item{
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-items: center;
        margin-top: 80px;
        gap: 20px;
    }
    .item h3{
        font-size: 1rem;}
    .item p{
        font-size: .8rem;}
        h2{
            font-size:1.2rem;}
}

